/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* VARIABLES */
:root {
    /* Colors */
    --std-black: #000000;
    --std-white: #ffffff;
    --std-gray: #a3a3a3;
    --std-font-color: #717171;
    --std-font-control-panel: #878787;
    --bkg-main-window: #141922;
    --bkg-cta: #00000070;
    --bkg-control-panel: #282828;
    --bar-empty: #5a5a5a;
    --bar-full: #c1c1c1;
    --selection-color: #aeff2f;

    /* Spaces and sizes */
    --control-panel-height: 90px;
    --sidebar-width: 230px;
    --cta-height: 90px;
    --cards-gutters: 5px;

    /* Fonts */
    --base-font-size: 1.3rem;
}

/* UTILITIES */
.pad-bot-1 {
    padding-bottom: 1rem;
}

.pad-bot-2 {
    padding-bottom: 2rem;
}

.pad-bot-3 {
    padding-bottom: 3rem;
}

.padx-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padx-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padx-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.pady-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pady-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pady-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex {
    display: flex;
}

.gap-5 {
    gap: 5px;
}

.wrap {
    flex-wrap: wrap;
}

.spc-between {
    justify-content: space-between;
}

.obj-fit-cover {
    border-radius: 50%;

    object-fit: cover;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    width: 100%;
    height: 100vh;

    font-size: var(--base-font-size);
    font-weight: 700;

    color: var(--std-font-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--std-white);
    transition: color 0.3s;
}

a:hover img {
    filter: brightness(100%);
    transition: filter 0.3s;
} 

li {
    line-height: var(--base-font-size);
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    
    width: 100%;
    height: calc(100vh - var(--control-panel-height));
}

/* Sidebar section */
#sidebar {
    display: flex;
    flex-direction: column;

    width: var(--sidebar-width);
    padding-right: 2rem;
    background-color: var(--std-black);
}

#sidebar #logo, .playlist, .sidebar-bottom {
    padding-left: 2rem;
}
#sidebar nav li:not(:first-child) {
    padding-left: 2rem;
}

#sidebar a:hover img {
    filter: brightness(100%);
    transition: filter 0.3s;
} 

#sidebar nav img {
    padding-right: 0.3rem;

    filter: brightness(50%);
}

#sidebar span{
    display: inline-block;
}

#sidebar nav img,
#sidebar .playlist img,
#sidebar .sidebar-bottom img { 
    height: 2.6rem;
    
    color: var(--std-gray);
}

#sidebar a img,
#sidebar a span{
    vertical-align: middle;    
}

#sidebar h4 {
    color: var(--std-white);
}

/* Sidebar Logo */
#logo {
    height: var(--cta-height);
    line-height: var(--cta-height);
}

#logo img {
    width: 130px;
    vertical-align: middle;
}

#logo .logo-small {
    display: none;
}

/* Sidebar nav */
#sidebar nav li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#sidebar nav li:first-child {
    color: var(--std-white);

    padding-left: 2rem;
    width: 100%;
    border-left: 2px solid var(--selection-color);
}

#sidebar .home {
    filter: brightness(100%);
}

/* Sidebar playlist */
/* Add Playlist */
#sidebar .playlist {
    flex-grow: 1;

    overflow-y: auto;
}

#sidebar .create-playlist .add-playlist {
    display: inline-block;

    background-color: var(--std-gray);
    color: var(--std-black);

    font-size: 4rem;
    line-height: 4rem;

    height: 3.9rem;
    width: 3.9rem;
    text-align: center;
    vertical-align: middle;
}

#sidebar .create-playlist span {
    font-size: 1.5rem;
}

#sidebar .create-playlist a:hover .add-playlist{
    background-color: var(--std-white);
    transition: color 0.3s;
}

/* Playlist */
#sidebar .playlist li {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Sidebar bottom */
/* Sidebar install app */
#sidebar .install-app img {
    height: calc(var(--base-font-size) + 0.3rem);
}

/* Sidebar  user */
#sidebar .user {
    color: var(--std-white);

    font-weight: 800;
}

#sidebar .user .user-image-container {
    display: inline-block;

    height: 3rem;
    width: 3rem;

    background-color: var(--std-gray);
    border-radius: 50%;
}

#sidebar .user .user-image-container img {
    height: 3rem;
    width: 3rem;
    padding-right: 0;

    border-radius: 50%;

    object-fit: contain;
}

/* Main screen section */
#main-screen {
    background-color: var(--bkg-main-window);
    
    width: calc(100% - var(--sidebar-width));
    
    overflow: auto;
}

/* cta */
.cta {
    position: fixed;
    top: 0;
    right: 0;
    
    width: calc(100% - var(--sidebar-width));
    height: var(--cta-height);
    
    background-color: var(--bkg-cta);
    
    text-align: right;
}

.cta a {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -50%);

    color: var(--std-white);
    border: 1px solid var(--std-white);
    border-radius: 40px;

    padding-left: 4rem;
    padding-right: 4rem;
    padding: 1rem 4rem;
}

.cta a:hover {
    transform: translate(0, -50%) scale(1.1);
}

/* Main window section */
#main-window {
    padding-top: var(--cta-height);
}

/* Main window menu */
#main-window .menu {
    width: 100%;

    background-color: var(--bkg-main-window);
}

#main-window .menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* padding-top: 1rem; */
}

#main-window .menu ul li {
    position: relative;
    display: inline-block;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

#main-window .menu ul li:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: var(--selection-color);
    width: 30%;
    height: 2px;  
    margin-bottom: 1rem;  
}

/* Main window albums */
#main-window .albums {
    padding-left: 2rem;
    padding-right: 2rem;
}

#main-window .albums h2{
    color: var(--std-white);
    font-size: 2.3rem;
    font-weight: 800;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#main-window .col{
    width: calc((100% - (var(--cards-gutters) * 5)) / 6);
}

#main-window .card {
    padding-top: 2rem;
    padding-bottom: 2rem;

    text-align: center;
}

#main-window .card .cover {
    position: relative;
}

#main-window .card i {
    display: none;

    font-size: 4rem;
    color: var(--std-white);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-window .card .cover:hover img {
    filter: brightness(50%);
}

#main-window .card .cover:hover i {
    display: block;
}

#main-window .card h3 {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--std-white);

    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

#main-window .card h4 {
    font-size: 1.2rem;

    padding-bottom: 1rem;
}

/* CONTROL PANEL */
#control-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 999;

    width: 100%;
    height: var(--control-panel-height);

    background-color: var(--bkg-control-panel);
    color: var(--std-font-control-panel);
    padding: 1.2rem;
}

/* c-panel left */
#control-panel .cpanel-left {
    display: flex;
    align-items: center;

    width: 30%;
}

.cpanel-left .actual-track {
    display: flex;
    align-items: center;

    padding-right: 3rem;
}
.cpanel-left .actual-track img {
    max-width: 50px;

    padding-right: 1.3rem
}

.cpanel-left .actual-track h5 {
    font-size: 1.2rem;
    font-weight: 700;

    color: var(--std-white);
}

.cpanel-left .actual-track a:hover {
    text-decoration: revert;
    transition: none;
    color: unset;
}

.cpanel-left .actual-track h6 {
    font-size: 1.05rem;
    font-weight: 600;
}

.cpanel-left .fav-track a {
    display: inline-block;
    
    font-size: 1.5rem;
    
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* c-panel center */
#control-panel .cpanel-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 40%;
}

.cpanel-center .controls {
    height: 50%;
}

.cpanel-center .controls a {        
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;

    color: var(--std-white);
}

.cpanel-center .controls .cmd-play {
    font-size: 3rem;
}

.cpanel-center .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50%;
}

.cpanel-center .time-current {
    padding-right: 1rem;

    color: var(--std-white);
    font-size: 1rem;
}

.cpanel-center .time .time-bar {
    flex-grow: 1;

    width: 100%;
    height: 3px;

    background-color: var(--bar-empty);
    border-radius: 10px;
    /* DEBUG */
}

.cpanel-center .time .time-bar-actual {
    width: 25%;
    height: 3px;

    background-color: var(--bar-full);
    border-radius: 10px;
}


.cpanel-center .time-total {
    padding-left: 1rem;

    color: var(--std-white);
    font-size: 1rem;
}


/* c-panel right */
#control-panel .cpanel-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;
    min-width: 180px;
    max-width: 210px;
}

.cpanel-right a {
    font-size: 1.2rem;

    padding-right: 10%;

    color: var(--std-white);
}

.cpanel-right .volume {
    width: 65%;
    max-width: 120px;
    height: 3px;

    background-color: var(--bar-empty);
    border-radius: 10px;
}

.cpanel-right .volume-actual {
    width: 25%;
    height: 3px;

    background-color: var(--bar-full);
    border-radius: 10px;
}

/* MEDIA */

/* Small Desktop (screen md)*/
@media screen and (max-width: 1100px) {
    
    #main-window .col {
        width: calc((100% - (var(--cards-gutters) * 3)) / 4);
    }
}

/* Tablet (screen s) */
@media screen and (max-width: 700px) {

    #main-window .col {
        width: calc((100% - var(--cards-gutters)) / 2);
    } 
    
}

/* Phone (screen xs) */
@media screen and (max-width: 600px) {
    
    :root {
        --sidebar-width: 50px;
    }

    #sidebar {
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #logo {
        width: 100%;
        height: auto;
        line-height: normal;
        padding-bottom: 1rem;
    }
    #logo .logo-big {
        display: none;
    }

    #logo .logo-small {
        display: block;
    }

    #sidebar img {
        padding-right: 0;
    }

    #sidebar span {
        display: none;
    }

    #sidebar nav {
        flex-grow: 1;
    }

    #sidebar .playlist{
        display: none;
    }

    #sidebar hr{
        display: none;
    }
}
