/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* VARIABLES */
:root {
    /* Colors */
    --std-black: #000000;
    --std-white: #ffffff;
    --std-gray: #a3a3a3;
    --selection-color: #aeff2f;

    /* Spaces and sizes */
    --control-panel-height: 90px;
    --sidebar-width: 230px;
    --cta-height: 90px;
}

/* UTILITIES */
.pad-bot-1 {
    padding-bottom: 1rem;
}

.pad-bot-2 {
    padding-bottom: 2rem;
}

.pad-bot-3 {
    padding-bottom: 3rem;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    width: 100%;
    height: 100vh;

    font-size: 1.3rem;
    font-weight: 600;

    color: var(--std-gray);
    
    /* DEBUG */
    background-color:blueviolet;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    padding-bottom: 2rem
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    
    width: 100%;
    height: calc(100vh - var(--control-panel-height));

    /* DEBUG */
    /* border: 2px dashed white; */
}

/* Sidebar section */
.sidebar {
    width: var(--sidebar-width);
    padding-left: 1rem;
    padding-right: 1rem;
    
    background-color: var(--std-black);

    /* DEBUG */
    border: 1px dashed red;
}

#logo {
    height: var(--cta-height);
    line-height: var(--cta-height);

    /* DEBUG */
    background-color: #aeff2f;
}

#logo img {
    vertical-align: middle;
}

/* Main screen section */
.main-screen {
    width: calc(100% - var(--sidebar-width));

    overflow: auto;

    /* DEBUG */
    border: 1px dashed yellow;
    background-color: darkolivegreen;
}

/* cta */
.cta {
    position: fixed;
    top: 0;
    right: 0;

    color: var(--std-white);

    width: calc(100% - var(--sidebar-width));
    height: var(--cta-height);
    line-height: var(--cta-height);

    background-color: #00000070;

    /* DEBUG */
    text-align: right;
    border: 1px dashed white;
}

/* Main window section */
.main-window {
    padding-top: var(--cta-height);
}

.menu {
    width: 100%;

    /* text-align: center; */

    /* padding-top: 2rem;
    padding-bottom: 2rem; */

    /* DEBUG */
    background-color: beige;
}

.menu ul {
    display: flex;
    justify-content: center;

    padding-top: 2rem;
}
.menu ul li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.albums {
    padding: 2rem;
}

.card {
    /* DEBUG */
    background-color: chocolate;
    width: 15vw;
    height: 15vw;;
}



/* CONTROL PANEL */
.control-panel {
    width: 100%;
    height: var(--control-panel-height);

    /* DEBUG */
    background-color: rgb(34, 34, 34);
}
