/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* VARIABLES */
:root {
    /* Colors */
    --std-black: #000000;
    --std-white: #ffffff;
    --std-gray: #a3a3a3;
    --std-font-color: #717171;
    --bkg-main-window: #141922;
    --selection-color: #aeff2f;

    /* Spaces and sizes */
    --control-panel-height: 90px;
    --sidebar-width: 230px;
    --cta-height: 90px;
    --cards-gutters: 5px;

    /* Fonts */
    --base-font-size: 1.3rem;
}

/* UTILITIES */
.pad-bot-1 {
    padding-bottom: 1rem;
}

.pad-bot-2 {
    padding-bottom: 2rem;
}

.pad-bot-3 {
    padding-bottom: 3rem;
}

.padx-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padx-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padx-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.pady-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pady-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pady-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex {
    display: flex;
}

.gap-5 {
    gap: 5px;
}

.wrap {
    flex-wrap: wrap;
}
.spc-between {
    justify-content: space-between;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    width: 100%;
    height: 100vh;

    font-size: var(--base-font-size);
    font-weight: 700;

    color: var(--std-font-color);
    
    /* DEBUG */
    background-color:blueviolet;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    line-height: var(--base-font-size);
    padding-bottom: 2rem
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    
    width: 100%;
    height: calc(100vh - var(--control-panel-height));
}

/* Sidebar section */
#sidebar {
    display: flex;
    flex-direction: column;

    width: var(--sidebar-width);
    padding-left: 2rem;
    padding-right: 2rem;
    
    background-color: var(--std-black);
}

#sidebar img {
    padding-right: 0.3rem;
}

#sidebar span{
    display: inline-block;
}

#sidebar nav img,
#sidebar .playlist img,
#sidebar .sidebar-bottom img { 
    height: 2.6rem;
    
    color: var(--std-gray);
}

#sidebar a img,
#sidebar a span{
    vertical-align: middle;    
}

#sidebar h4 {
    color: var(--std-white);
}

/* Sidebar Logo */
#logo {
    height: var(--cta-height);
    line-height: var(--cta-height);
}

#logo img {
    width: 130px;
    vertical-align: middle;
}

#logo .logo-small {
    display: none;
}

/* Sidebar nav */
#sidebar nav li {
    padding-bottom: 1rem;
}

/* Sidebar playlist */
#sidebar .playlist {
    flex-grow: 1;

    overflow-y: auto;
}

#sidebar .create-playlist .add-playlist {
    display: inline-block;

    background-color: var(--std-gray);
    color: var(--std-black);

    font-size: 4rem;
    line-height: 4rem;

    height: 3.9rem;
    width: 3.9rem;
    text-align: center;
    vertical-align: middle;
}

#sidebar .create-playlist span {
    font-size: 1.5rem;
} 

/* Sidebar bottom */
/* Sidebar install app */
#sidebar .install-app img {
    height: var(--base-font-size);
}

/* Sidebar  user */
#sidebar .user {
    color: var(--std-white);

    font-weight: 800;
}

#sidebar .user .user-image-container {
    display: inline-block;

    height: 3rem;
    width: 3rem;

    background-color: var(--std-gray);
    border-radius: 50%;
}

#sidebar .user .user-image-container img {
    height: 3rem;
    width: 3rem;
    padding-right: 0;

    border-radius: 50%;

    object-fit: contain;
}

/* Main screen section */
#main-screen {
    background-color: var(--bkg-main-window);
    
    width: calc(100% - var(--sidebar-width));
    
    overflow: auto;
}

/* cta */
.cta {
    position: fixed;
    top: 0;
    right: 0;
    
    width: calc(100% - var(--sidebar-width));
    height: var(--cta-height);
    line-height: var(--cta-height);
    
    background-color: #00000070;
    
    text-align: right;
}

.cta span {
color: var(--std-white);
border: 1px solid var(--std-white);
border-radius: 40px;

padding: 1rem 4rem;
}

/* Main window section */
#main-window {
    padding-top: var(--cta-height);
}

#main-window .menu {
    width: 100%;


    /* text-align: center; */

    /* padding-top: 2rem;
    padding-bottom: 2rem; */

    /* DEBUG */
    background-color: var(--bkg-main-window);
}

#main-window .menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 2rem;
}

#main-window .menu ul li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
}

#main-window .albums {
    padding: 2rem;
}

#main-window .card {
    width: calc(((100vw - var(--sidebar-width) - 6rem) - (var(--cards-gutters) * 5)) / 6);
    height: calc(((100vw - var(--sidebar-width) - 6rem) - (var(--cards-gutters) * 5)) / 6);
    
    /* DEBUG */
    background-color: chocolate;
    border: 2px dashed blue;
}

/* CONTROL PANEL */
#control-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    width: 100%;
    height: var(--control-panel-height);

    /* DEBUG */
    padding: 1rem;
    background-color: rgb(34, 34, 34);
}

/* c-panel left */
#control-panel .cpanel-left {
    display: flex;
    align-items: center;

    width: 20%;
}

.cpanel-left .actual-track {
    display: flex;
    align-items: center;

    padding-right: 3rem;
}

.cpanel-left .actual-track img {
    max-width: 50px;

    padding-right: 1rem
}

/* c-panel center */
#control-panel .cpanel-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
}

.cpanel-center .controls {        
    /* DEBUG */
    text-align: center;
}

.cpanel-center .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.cpanel-center .time .time-bar{
    flex-grow: 1;

    width: 100%;
    height: 3px;

    background-color: var(--std-gray);
    border-radius: 10px;
    /* DEBUG */
}

/* c-panel right */
#control-panel .cpanel-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 20%;
}

.cpanel-right .volume {
    flex-grow: 1;

    max-width: 120px;
    height: 3px;

    background-color: var(--std-gray);
    border-radius: 10px;
}

/* MEDIA */

/* Small Desktop (screen md)*/
@media screen and (max-width: 1100px) {
    #main-window .card {
        width: calc(((100vw - var(--sidebar-width) - 6rem) - (var(--cards-gutters) * 3)) / 4);
        height: calc(((100vw - var(--sidebar-width) - 6rem) - (var(--cards-gutters) * 3)) / 4);
    }
}

/* Tablet (screen s) */
@media screen and (max-width: 700px) {
    #main-window .card {
        width: calc(((100vw - var(--sidebar-width) - 6rem) - var(--cards-gutters)) / 2);
       height: calc(((100vw - var(--sidebar-width) - 6rem) - var(--cards-gutters)) / 2);
    } 
    
}

/* Phone (screen xs) */
@media screen and (max-width: 600px) {
    :root {
        --sidebar-width: 50px;
    }

    
    #sidebar {
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #logo {
        width: 100%;
        height: auto;
        line-height: normal;
        padding-bottom: 1rem;
    }
    #logo .logo-big {
        display: none;
    }

    #logo .logo-small {
        display: block;
    }

    #sidebar img {
        padding-right: 0;
    }

    #sidebar span {
        display: none;
    }

    #sidebar nav {
        flex-grow: 1;
    }

    #sidebar .playlist{
        display: none;
    }

    #sidebar hr{
        display: none;
    }
}
